.yandex_map iframe {
    position: relative;
    width: 84.5%;
    top: 10px;
    height: 300px;
    margin-left: 7.5%;
}

.about_us .contact_info {
    position: relative;
    float: left;
    background-color: #E8BE8E;
    width: 42.5%;
    top: 5px;
    height: 480px;
    margin-left: 7.5%;
    color: #432D1F;
}

.about_us .contact_info #title {
    text-align: center;
    margin-top: 15px;
    font-size: 28px;
    font-weight: 500;
}

.about_us .contact_info #text {
    font-family: 'Exo', sans-serif;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
}

.about_us .contact_info #vk_logo,
.about_us .contact_info #youtube_logo,
.about_us .contact_info #inst_logo {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.contact_form {
    position: relative;
    float: left;
    background-color: #432D1F;
    width: 42.5%;
    top: 5px;
    height: 480px;
}

.contact_form #title {
    text-align: center;
    margin-top: 15px;
    font-size: 28px;
    font-weight: 500;
    color: white;
}

.contact_form #add_form {
    text-align: center;
}

.contact_form #add_form input, .contact_form #add_form textarea {
    border: none;
    border-radius: 10px;
    background-color: #A58068;
    color: white;
    padding: 10px 10px;
    margin: 10px 10px;
    font-size: 24px;
}

.contact_form #add_form textarea {
    white-space: pre-wrap;
}

.contact_form #add_form #msg_input {
    height: 100px;
}

.contact_form #add_form input::placeholder {
    color: #432D1F;
    font-weight: 100;
}

.contact_form #add_form textarea::placeholder {
    color: #432D1F;
    font-weight: 100;
}

.contact_form #add_form button {
    margin-top: 5px;
    border: none;
    background-color: #432D1F;
    color: white;
    font-size: 24px;
}

.contact_form #add_form button:hover {
    text-decoration: underline;
    cursor: default;
}
