.events_windows {
    margin-left: 7.5%;
    margin-top: 25px;
    width: 85%;
    height: 250px;
    top: 10px;
    position: relative;
    display: flex;
}

.text_overlay {
    position: relative;
    flex: 33%;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    /*float: left;*/
}

.text_overlay img {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.text_overlay .overlay_title {
    width: 100%;
    bottom: 0;
    text-align: center;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
}

.text_overlay a {
    transition: background 0.1s ease;
}

.text_overlay a:hover .overlay_title  {
    background-color: #e58e26;
    opacity: 80%;
}
