.posts_table {
    text-align: center;
    margin-left: 7.5%;
    margin-right: 7.5%;
    word-break: break-word;
}

.posts_table #title {
    font-weight: 500;
    color: #432D1F;
}

.table_head {
    font-style: italic;
}

.table_head, .table_row {
    display: flex;
}

.table_head div, .table_row div {
    padding: 5px;
    margin: 1px;
    background-color: #E8BE8E;
}

.table_row a {
    color: #C35421;
    text-decoration: none;
}

.table_row a:hover {
    text-decoration: underline;
    cursor: default;
}

.table_head .status, .table_row .status {
    flex: 6%;
    /*width: 6%;*/
}

.table_head .subjects, .table_row .subjects {
    flex: 67%;
    /*width: 67%;*/
}

.table_head .replies, .table_row .replies {
    flex: 12%;
    /*width: 12%;*/
}

.table_head .last_reply, .table_row .last_reply {
    flex: 15%;
    /*width: 15%;*/
}

.pagination {
    margin-left: 7.5%;
    margin-right: 7.5%;
    padding: 20px;
    font-size: 15px;
}

.pagination a {
    color: black;
    margin-inline: 5px;
    padding: 5px 10px;
    border: solid 0.5px black;
    text-decoration: none;
}

.pagination a:hover {
    opacity: 0.5;
}
